* {
  margin: 0;
  font-family: Roboto, sans-serif;
}

body {
  background: #1a1a1a;
  height: 100%;
}

p, h1 {
  color: #f4f4f4;
}

header {
  background: rgb(20, 20, 20);
  width: 100%;
  height: 75px;
  padding: 0px 50px 0px 50px;
  display: flex;
  align-items: center;
  column-gap: 0px;
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  background-color: #222222;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding: 30px 50px 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}


/* HEADER-------------------------------------------------------- */


.header-names-holder {
  padding-right: 15px;
  cursor: pointer;
  width: 80px;
}
.header-name1 {
  font-weight: 700;
  font-size: 20px;
  transition: all 0.15s;
}
.header-name2 {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 6px;
  transition: all 0.15s;
}
.header-names-holder:hover .header-name1,.header-names-holder:hover .header-name2{
  color: #EDAE49;
}


.header-button {
  background: transparent;
  color: #f4f4f4;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  padding: 8px 20px 8px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.15s;
}
.header-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.header-button .line {
  position: relative;
  background-color: transparent;
  height: 2px;
  top: 20px;
  width: 100%;
  transition: all 0.15s;
}
.header-button:hover .line {
  background: #EDAE49;
  top: 10px;
}


/* New Games----------------------------------------------------- */


.new-game-holder {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.new-game-holder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Images/Hellucinate.PNG');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.new-game-info {
  margin-top: 75px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.new-game-info .title {
  width: 550px;
}
.new-game-info .info {
  font-size: 20px;
  font-weight: 700;
}
.new-game-info .VisitGame {
  margin-top: 25px;
  width: 225px;
  height: 50px;
  border: solid;
  border-color: transparent;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  color: #f4f4f4;
  font-size: 15px;
  background-color: rgba(11, 110, 79, 0.5);
  transition: all 0.15s;
}
.new-game-info .VisitGame:hover {
  background-color: rgba(11, 110, 79, 0.8);
  border-color: rgba(11, 110, 79, 1);
  width: 230px;
  height: 51px;
  box-shadow: 0px 1px 20px rgba(11, 110, 79, 0.5);
}


/* Games-------------------------------------------------------- */


.games-section-holder {
  padding-top: 75px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 100px;
}
.games-section-title {
  font-size: 45px;
}

.games-holder {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  column-gap: 30px;
}

.game {
  width: 300px;
  height: 400px;
  background: #222222;
  border-radius: 8px;
  border-style: none;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.15s;
}
.game:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.game .icon {
  width: 300px;
  border-radius: 8px 8px 0px 0px;
  height: 300px;
  margin-bottom: 10px;
}
.game .title {
  font-size: 30px;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 5px;
}
.game .price {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  padding: 3px 5px 3px 5px;
  width: 50px;
  color: #222222;
  background-color: #AD2831;
  border-radius: 8px;
  transition: all 0.15s;
}
.game:hover .price {
  box-shadow: 0px 0px 10px #AD2831;
}

.game .info-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.game .platforms-holder i {
  font-size: 20px;
  color: rgba(244, 244, 244, 0.5);
  margin: 2px;
}


/* Footer--------------------------------------------------------*/


footer .top-part {
  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
}
footer .follow-us-holder {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}
footer .social-media-icons {
  display: flex;
  column-gap: 13px;
}

.social-media-icons .button {
  background-color: #f4f4f4;
  border-radius: 50px;
  width: 35px;
  overflow: hidden;
  display: inline-block;
  height: 35px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-media-icons .icon {
  background-color: #f4f4f4;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  align-content: center;
  transition: all 0.3s ease;
}

.social-media-icons .button:hover {
  width: 116px;
}

.social-media-icons .name {
  display: inline-block;
  font-weight: 500;
}

.social-media-icons .button:hover .icon {
  color: white;
}

.social-media-icons .button:nth-child(1):hover .icon {
  background: #e1306c;
}
.social-media-icons .button:nth-child(1):hover p {
  color: #e1306c;
}

.social-media-icons .button:nth-child(2):hover .icon {
  background: #ff0000;
}
.social-media-icons .button:nth-child(2):hover p {
  color: #ff0000;
}

.social-media-icons .button:nth-child(3):hover .icon {
  background: #000000;
}
.social-media-icons .button:nth-child(3):hover p {
  color: #000000;
}


/* Media-Query ------------------------------------------------- */


@media screen and (max-width: 1080px) {
  header {
    height: 150px;
  }
  .header-names-holder {
    width: 200px;
  }
  .header-name1 {
    font-size: 40px;
  }
  .header-name2 {
    font-size: 30px;
  }
  .header-button {
    font-size: 30px;
  }


  /* ------------------------------------------------- */


  .new-game-holder {
    justify-content: center;
  }
  .new-game-info {
    margin: 0;
  }
  .new-game-info .title {
    width: 900px;
  }
  .new-game-info .info {
    font-size: 30px;
  }
  .new-game-info .VisitGame {
    margin-top: 50px;
    transform: scale(1.8);
  }


  /* ------------------------------------------------- */


  .games-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 150px;
  }
  .games-section-title {
    font-size: 100px;
  }
  .game {
    margin-top: 350px;
    margin-bottom: 250px;
    transform: scale(2.5);
  }


  /* --------------------------------------------------- */


  footer {
    height: 500px;
  }
  footer .header-names-holder {
    width: 200px;
  }
  footer .header-name1 {
    font-size: 40px;
  }
  footer .header-name2 {
    font-size: 30px;
  }
  .top-part {
    margin-bottom: 50px;
  }
  .top-part p {
    font-size: 40px;
  }
  .follow-us-holder h1 {
    font-size: 75px;
  }
  .social-media-icons {
    margin-top: 40px;
    transform: scale(2.5);
  }
}